.container{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  box-sizing: border-box;
  max-width: 90vw;
  height: 90vh;
  padding: 5px;
  justify-content: center;
  align-items: center;
}
.card {
  width: 400px;
  margin: 10px;
}

.card:hover{
  cursor: pointer;
}

body{
  background-color: grey;
}
