<div class="container">
  <div *ngFor="let book of books">
    <mat-card class="example-card" >
      <mat-card-header>
        <span class="right" *ngIf="book.read"><mat-icon aria-hidden="false" fontIcon="verified" ></mat-icon></span>
        <mat-card-title>{{ book.name }}

        </mat-card-title>
        <mat-card-subtitle>{{ book.author }}</mat-card-subtitle>
      </mat-card-header>

        <div class="card-image">
          <img src= "{{ book.image }}" alt="book image">
        </div>

      <mat-card-content>

        <p>
          {{ book.description }}
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>LER</button>
        <button [disabled]="book.read" mat-button (click)="toRead(book)" >MARCAR COMO LIDO</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
