<mat-sidenav-container class="sidenav-container" >
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/home"  [queryParams]="{ key: userID }" queryParamsHandling="merge"><mat-icon aria-hidden="false" fontIcon="home" ></mat-icon>
        Home</a>
      <a mat-list-item routerLink="/ranking" [queryParams]="{ key: userID }" queryParamsHandling="merge"><mat-icon aria-hidden="false"  fontIcon="star"></mat-icon>
        Ranking</a>
      <a mat-list-item routerLink="/books" [queryParams]="{ key: userID }" queryParamsHandling="merge"><mat-icon aria-hidden="false" fontIcon="book"></mat-icon>
        Livros</a>
    </mat-nav-list>

    <mat-nav-list  class="logout">
      <a mat-list-item routerLink="/login" ><mat-icon color="primary" aria-hidden="false" fontIcon="logout"></mat-icon>
        Change User</a>
    </mat-nav-list>
  <mat-card *ngIf="userID" class="flex"><img mat-card-avatar src="{{user.image}}"><mat-card-subtitle>Running</mat-card-subtitle></mat-card>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>ESSE EU JÁ LI</span><img class="logo-icon" src="https://cdn.vox-cdn.com/thumbor/Ybu_sa8n8NJWlb8ICL_SKdFSnkI=/0x0:256x256/1400x933/filters:focal(110x90:150x130):no_upscale()/cdn.vox-cdn.com/uploads/chorus_image/image/58497263/Unsealed_Spellbook_rune.0.png" alt="">
    </mat-toolbar>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
