.card {
  width: 400px;
  margin: 10px;
}



.container{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  box-sizing: border-box;
  max-width: 90vw;
  height: 90vh;
  padding: 5px;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 400px) {
  .card{
    width: 350px;

  }
}
