

<div class="container">

  <h1>R A N K I N G</h1>

  <mat-card class="card">
    <mat-card-header>
      <div mat-card-avatar class="header-image"></div>
      <mat-card-title>GunZur</mat-card-title>
      <mat-card-subtitle>The Healer</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <p>
        <mat-progress-bar mode="determinate" value="90"></mat-progress-bar>
      </p>
    </mat-card-content>
  </mat-card>

  <mat-card class="card">
    <mat-card-header>
      <div mat-card-avatar class="header-image"></div>
      <mat-card-title>IRA</mat-card-title>
      <mat-card-subtitle>The Leader</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <p>
        <mat-progress-bar mode="determinate" value="80"></mat-progress-bar>
      </p>
    </mat-card-content>
  </mat-card>

  <mat-card class="card">
    <mat-card-header>
      <div mat-card-avatar class="header-image"></div>
      <mat-card-title>GreenFox</mat-card-title>
      <mat-card-subtitle>The Legend</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <p>
        <mat-progress-bar mode="determinate" value="50"></mat-progress-bar>
      </p>
    </mat-card-content>
  </mat-card>

</div>

